<footer class="footer">
	<small>
		<a href="http://learnenough.com/">Rails Tutorial</a>
		by Michael Hartl
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", static_pages_about_path %></li>
			<li><%= link_to "Contact", static_pages_contact_path %></li>
			<li><%= link_to "News", 'http://news.railstutorial.org' %></li>
		</ul>
	</nav>
</footer>